@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
   border: 1px solid red;
} */
::selection{
   display: none  ;
}
/* *{
   scroll-behavior: smooth;
} */
::-webkit-scrollbar{
   background: #000000;
   width: 10px;
 }
 ::-webkit-scrollbar-thumb{
   background: linear-gradient(transparent,#c5c5c59f);
   border-radius: 500px;
   width: 10px;
   height: 20px;
   /* box-shadow: 0px 0px 10px #cc71ff; */
 }
 ::-webkit-scrollbar-thumb:hover{
   background: linear-gradient(transparent,#d082fd);
 }
@font-face {
   font-family: ndot;
   src: url(/public/nothingfont/Ndot-55.ttf);
}
@font-face {
   font-family: NH;
   src: url(/public/korataki/korataki-rg-3cf0d889.ttf);
}
@font-face {
   font-family: NP;
   src: url(/public/sansation/Sansation_Regular.ttf);
}
@font-face {
   font-family: Aclonica;
   src: url(/Aclonica/Aclonica-Regular.ttf);
}
@font-face {
   font-family: sn;
   src: url(/sansation/Sansation_Regular.ttf);
}
html,body{
   background: #000;
}
.sn{
   font-family: sn;
}
.heading{
   font-family: NH;
   overflow: hidden;
}
.logo{
   font-family: ndot;
   /* box-shadow: 0; */
}
.np{
   font-family: NP;
}
.aclonica{
   font-family: Aclonica;
}
.shadow{
   text-shadow: 2px 1px #fff;
}
.shadow1{
   box-shadow: 5px 5px  12px #636060;
}
.font1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text_border{
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
}

.text_border2{
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
 }

.btn{
   box-shadow: 0px 0px 10px #fff;
}

.boxs-line{
   box-shadow: 0px 0px 10px #ffffff;
}
.shadows{
  text-shadow: 0px 0px 10px #ffffffc7;
}
.box:hover{
   box-shadow: 0px 0px 10px #cc71ff;
}